    <div class="position-relative">
      <section class="section section-lg section-hero section-shaped">
        <%= image_tag( "afg/sunset-cloth.jpg", class: "img-fluid shape shape-style-1" ) %>
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0 py-5">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-12 text-center">
                <%= image_tag( "afg/qafg_logo.png", style: "width: 500px", class: "img-fluid" ) %>
              </div>
            </div>
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-12 text-center">
                <div class="coming-soon">
                 <h1 class="display-1">MEETINGS</h1>
                 <!--h6>(Under Construction)</h6-->
                </div>
                <div class="mt-5">
                  <br>
                  <br>
                </div>
              </div>
            </div>
            <div class="mt-5"></div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
    </div>
     
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-12 px-0">
                <%# ----------- Medium to Large displays -----------%>
                <div class="card shadow border-0 d-none d-lg-block">
                  <div class="card-body py-5">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Day</th>
                          <th scope="col">Time</th>
                          <th scope="col">Location</th>
                          <th scope="col">City</th>
                          <!--th scope="col">Type</th-->
                          <th scope="col">Notes</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @meetings.each do |meeting| %>
                          <tr>
                            <td>
                              <%# link_to meeting.name, meeting_path(meeting) %>
                              <%= meeting.name %>
                            </td>
                            <td><%= meeting.day.titleize %></td>
                            <td><%= meeting.time.strftime("%l:%M %p") %></td>
                            <% if meeting.video_conference_url.present? %>
                              <td><%= link_to "Online Meeting - Click to Join", meeting.video_conference_url, target: '_blank' %></td>
                            <% else %>
                              <td><%= meeting.address %></td>
                            <% end %>
                            <td><%= meeting.city %></td>
                            <!--td><%# meeting.category.titleize %></td-->
                            <td><%= meeting.notes if meeting.notes %>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <%#-------------- Small Displays -----------------%>
                
                <% @meetings.each do |meeting| %>
                  <div class="card shadow border-0 d-md-block d-lg-none">
                    <div class="card-body py-2">
                      <%# link_to meeting.name, meeting_path(meeting) %>
                      <%= meeting.name %>,
                      <%= meeting.day.titleize %>,
                      <%= meeting.time.strftime("%l:%M %p") %><br/>
                      <% if meeting.video_conference_url.present? %>
                        <td><%= link_to "Online Meeting - Click to Join", meeting.video_conference_url, target: '_blank' %></td><br/>
                      <% else %>
                        <%= meeting.location %><br/>
                        <%= meeting.street %><br/>
                      <% end %>
                      <%= meeting.city %><br/>
                      <%# meeting.category.titleize %>
                      <%= meeting.notes if meeting.notes %>
                    </div>
                  </div>
                <% end %>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
