    <div class="position-relative">
      <section class="section section-lg section-hero section-shaped">
	<%= image_tag( "afg/sunset-cloth.png", class: "img-fluid shape shape-style-1" ) %>
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <%= image_tag( "afg/qafg_logo.png", style: "width: 500px", class: "img-fluid" ) %>
		<h4>For information call us at</h4>
                <h1 class="display-2"><!--i class="fa fa-phone"></i--><b>1-866-951-3711</b></h1>
                <br>
                <div class="mt-5">
                  <br>
                  <br>
                </div>
              </div>
            </div>
            <div class="mt-5"></div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
    </div>

<!-- Cards -->
<section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">

            <!-- Is Al-Anon for You? Card -->
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div>
                      <%= image_tag( "afg/perplexed_lady.svg", style: "width: 50px; float: left; padding-right: 5px", class: "img-fluid" ) %>
                      <h6 class="text-primary text-uppercase">Are you troubled by Someone's drinking?</h6>
                      <h6 class="text-primary">Al-Anon Is for You!</h6>
                    </div>
                    <p class="description mt-3">Millions of people are affected by the excessive drinking of someone close.  Click the link below to answer the questions designed to help you decide whether or not you need Al-Anon.</p>
                    <div class="p-2"></div>
                    <%= link_to 'For Me?', '#is_al-anon_for_you', class: 'btn btn-primary mt-4' %>
                  </div>
                </div>
              </div>

              <!-- What is Al-Anon? Card -->
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div>
                      <%= image_tag( "afg/perplexed_male_grn.svg", style: "width: 70px; float: left; padding-right: 5px", class: "img-fluid" ) %>
                      <h6 class="text-success text-uppercase">What is Al-Anon?</h6>
                    </div>
                    <p class="description mt-2">The Al-Anon Family Groups are a fellowship of relatives and friends of alcoholics who share their experience, strength and hope in order to solve their common problems.  We beleive alcoholism is a family illness and that changed attitudes can aid recovery.</p>
                    <div class="text-muted" style="font-size:11px">*Reprinted with permission of Al-Anon Family Groups Headquarters Inc, Virginia Beach, VA</div>
                    <%= link_to 'Learn more', '#what_is_al-anon', class: 'btn btn-success mt-4' %>
                  </div>
                </div>
              </div>

              <!-- Meetings Card -->
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div>
                      <%= image_tag( "afg/got_it_female.svg", style: "width: 70px; float: left; padding-right: 5px", class: "img-fluid" ) %>
                      <h6 class="text-warning text-uppercase">Help is around the corner!</h6>
                    </div>
                    <p class="description mt-4">Visit one of the many meetings in our area to find out first hand what Al-Anon can offer you.  No formal referral is required.  The only requirement for membership is that there be a problem of alcoholism in a relative or friend.</p>
                    <div class="p-2"></div>
                    <!-- p class="description mt-3">If you'd like to:</p>
                    <ul class="description mt-3">
                      <li>learn the facts about alcoholism as an illness and how it has impacted their lives physically and emotionally</li>
                    </ul-->
                    <%= link_to 'Find a Meeting', '#', class: 'btn btn-warning mt-4' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
