    <div class="position-relative">
      <section class="section section-lg section-hero section-shaped">
        <%= image_tag( "afg/sunset-cloth.jpg", class: "img-fluid shape shape-style-1" ) %>
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0 py-5">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-12 text-center">
                <%= image_tag( "afg/qafg_logo.png", style: "width: 500px", class: "img-fluid" ) %>
              </div>
            </div>
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-12 text-center">
                <div class="coming-soon">
                 <h1 class="display-1">Upcoming Events</h1>
                 <!--h6>(Under Construction)</h6-->
                </div>
                <div class="mt-5">
                  <br>
                  <br>
                </div>
              </div>
            </div>
            <div class="mt-5"></div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
    </div>
     
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-12 px-0">
                <%# ----------- Medium to Large displays -----------%>
                <div class="card shadow border-0 d-none d-lg-block">
                  <div class="card-body py-5">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Event</th>
                          <th scope="col">Date</th>
                          <th scope="col">Time</th>
                          <th scope="col">Location</th>
                          <th scope="col">Flyer</th>
                          <!--th scope="col">Type</th-->
                          <th scope="col">Notes</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <td>Al-Anon Day</td>
                            <td>Saturday, May 15</td>
                            <td>Opens 9:15am</td>
                            <td><%= link_to "Online Meeting - Click to Join", "https://us02web.zoom.us/j/84509473822?pwd=U3VpV1FtNTJEOXBNcHRTU3VVb0VvZz09", target: '_blank' %></td>
                            <td><%= link_to "Click for Flyer", '/documents/2021_Alanon_Day_Flyer.pdf', target: '_blank' %></td>
                            <td>Meeting ID: 845 0947 3822, Password: QuinteAFG</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <%#-------------- Small Displays -----------------%>
                
                  <div class="card shadow border-0 d-md-block d-lg-none">
                    <div class="card-body py-2">
                      Al-Anon Day,
                      Saturday, May 15,
                      Opens 9:15am<br/>
                      <%= link_to "Online Meeting - Click to Join", "https://us02web.zoom.us/j/84509473822?pwd=U3VpV1FtNTJEOXBNcHRTU3VVb0VvZz09", target: '_blank' %><br/>
                      <%= link_to "Click for Flyer", '/documents/2021_Alanon_Day_Flyer.pdf', target: '_blank' %><br/>
                      Meeting ID: 845 0947 3822, Password: QuinteAFG 
                    </div>
                  </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
